---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="About">
    <h2>Top 3 Food</h2>
    <ul>
        <li>Mote de queso</li>
        <li>Cayeye (aka. cabeza de gato)</li>
        <li>Ajiaco</li>
    </ul>
</BaseLayout>
